@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#bg {
  z-index: -4;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.bg-opacity {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: -2;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background: #224941 url("bg-loop-static.jpg") no-repeat center center/cover;
  color: #fff;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.relaxer {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  width: 100vw;
  margin-top: 30px;
  text-align: center;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  transform: scale(1);
}

.gradient-circle {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  height: 190px;
  width: 20px;
  transform-origin: bottom center;
}

.rotate {
  animation: rotate 9.5s linear forwards infinite;
}

.pointer {
  background: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.grow {
  animation: grow 3s linear forwards;
}

.shrink {
  animation: shrink 5s linear forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.greet-container {
  position: absolute;
  z-index: 1;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #eee;
  color: #555;
  text-align: center;
  padding-top: 20vh;
}

.btn {
  margin: 20px auto;
  width: 150px;
  border: 1px #555 solid;
  border-radius: 3px;
  transition: color 0.3s, background-color 0.3s;
}

.btn:hover,
button:hover {
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

#male:hover {
  background-color: #5a8ebe;
}

#female:hover {
  background-color: rgb(255, 113, 137);
}

.answer {
  height: 170px;
}

input {
  width: 80px;
  color: #555;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #555;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 52px;
}

button {
  position: relative;
  display: inline-block;
  outline: none;
  height: 40px;
  top: -8px;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  transition: color 0.3s, background-color 0.3s;
}

#relax {
  margin: 100px 200px 0 200px;
  font-weight: 900;
  font-size: 36px;
}
